@font-face{font-family:'HelveticaMedium';src:url('../fonts/HelveticaNeueCyr-Medium.eot');src:url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');font-weight:500;font-style:normal;}
@font-face{font-family:'HelveticaBold';src:url('../fonts/HelveticaNeueCyr-Bold.eot');src:url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');font-weight:bold;font-style:normal;}
@font-face{font-family:'HelveticaRoman';src:url('../fonts/HelveticaNeueCyr-Roman.eot');src:url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'HelveticaLight';src:url('../fonts/HelveticaNeueCyr-Light.eot');src:url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');font-weight:300;font-style:normal;}
@font-face{font-family:'QanelasBold';src:url('../fonts/Qanelas-Bold.eot');src:url('../fonts/Qanelas-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-Bold.woff') format('woff'), url('../fonts/Qanelas-Bold.ttf') format('truetype');font-weight:bold;font-style:normal;}
@font-face{font-family:'QanelasMedium';src:url('../fonts/Qanelas-Medium.eot');src:url('../fonts/Qanelas-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-Medium.woff') format('woff'), url('../fonts/Qanelas-Medium.ttf') format('truetype');font-weight:500;font-style:normal;}
@font-face{font-family:'HelveticaBlack';src:url('../fonts/HelveticaNeueCyr-Black.eot');src:url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');font-weight:900;font-style:normal;}
body{font-family:'HelveticaMedium', sans-serif;font-size:10px;}
.main-btn{font-family:'HelveticaBold', sans-serif;color:#fff;font-size:1.8rem;padding:2rem 4rem;background-color:#94ca2d;border:none;border-radius:2px;}
.main-btn:hover{background-color:#75a024;}
.header{font-family:'HelveticaBlack', sans-serif;font-size:3.5rem;}
.header-white{color:#fff;}
.circle{display:block;background-color:#18a7d0;width:100%;height:100%;border-radius:50%;color:white;}
.circle-border{display:inline-block;width:6rem;height:6rem;padding:0.3rem;border:3px solid #18a7d0;border-radius:50%;line-height:5.4rem;text-align:center;font-family:'HelveticaBold', sans-serif;color:white;font-size:3rem;-webkit-transform:translateY(-30%);transform:translateY(-30%);background-color:#fff;}
.info-slash,
.youtube-slash,
.app-slash{position:absolute;bottom:0;overflow:hidden;-webkit-transform:translateY(50%);transform:translateY(50%);color:rgba(0, 0, 0, 0.2);font-family:'HelveticaLight', sans-serif;font-size:0.8rem;max-width:100%;}
button,
a,
input{outline:none !important;text-decoration:none !important;}
:invalid{-webkit-box-shadow:none;box-shadow:none;}
:-moz-submit-invalid{box-shadow:none;}
:-moz-ui-invalid{box-shadow:none;}
nav.nav-bottom{position:static !important;background-color:#000000;border-top:none;padding:3rem 0;}
nav.nav-bottom .mobile{display:none;}
nav{background-color:rgba(0, 0, 0, 0.65);border-top:3px solid black;position:absolute;top:0;left:0;right:0;font-family:'HelveticaMedium', sans-serif;}
nav .logo-main{padding:2rem 0;margin-left:0;}
nav .logo-main .logo-heading{display:inline-block;}
nav .logo-main .logo-heading h4{color:#fff;font-size:2rem;line-height:2.4rem;padding-left:2rem;}
nav .logo-img{display:inline-block;}
nav .logo-img img{display:block;}
nav .phone{text-align:right;padding:2rem 0;}
nav .phone h2{font-size:2.5rem;color:#fff;font-family:'HelveticaBold', sans-serif;margin:0;}
nav .phone p{font-size:2rem;color:#94ca2d;font-family:'HelveticaMedium', sans-serif;margin:0;}
main{background:#ffffff url(../img/main-bg.jpg) center center no-repeat;background-size:cover;color:#fff;padding-top:20rem;padding-bottom:2rem;}
main h2{font-family:'HelveticaBold', sans-serif;font-size:4rem;margin-bottom:2rem;}
main h4{font-family:'HelveticaBold', sans-serif;font-size:3rem;margin-bottom:3rem;}
main button{margin-bottom:4rem;}
main .main{position:relative;}
main .main-dino{display:inline-block;position:absolute;right:0;bottom:0;}
main .main-vr{display:block;margin-left:-1.5rem;}
.info{padding:10rem 0 6rem 0;background-color:#f8f8f0;position:relative;}
.info-header{margin-bottom:4rem;}
.info-text{font-family:'HelveticaRoman', sans-serif;font-size:1.7rem;line-height:2.2rem;padding-right:7rem;margin-bottom:3rem;}
.info-box{padding-left:0;}
.info-box h4{font-family:'HelveticaMedium', sans-serif;font-size:2rem;padding-left:0;}
.info-box ul{list-style:none;padding:0;min-height:12rem;display:block;}
.info-box ul li{font-family:'HelveticaRoman', sans-serif;font-size:1.7rem;}
.info-box ul li:before{content:'- ';}
.info-box-price{font-family:'HelveticaMedium', sans-serif;font-size:2rem;margin-bottom:3rem;}
.info-box-price span{color:#b61919;font-size:2.5rem;}
.info .main-btn{border-bottom:4px solid #76ae0c;border-radius:5px;text-transform:uppercase;font-size:1.8rem;}
.info-vr-set{display:block;max-width:100%;margin-top:3rem;}
.info-vr-header{position:relative;display:block;text-align:right;font-family:'QanelasMedium', sans-serif;font-size:2.5rem;margin-bottom:0.5rem;}
.info-vr-text{text-align:right;font-family:'HelveticaRoman', sans-serif;font-size:1.8rem;}
.info-vr-arrow{position:absolute;bottom:0;-webkit-transform:translate(-65%, -10%);transform:translate(-65%, -10%);}
.info-vr.mobile{display:none;}
.youtube{background-color:#fcfcf6;padding:8rem 0 6rem 0;}
.youtube-block{position:relative;}
.youtube-block-figure{position:absolute;bottom:0;right:0;}
.youtube-block .media{margin-top:10rem;}
.youtube-block .media-heading{font-family:'HelveticaMedium', sans-serif;font-size:2.2rem;margin-bottom:2.5rem;}
.youtube-block .media-body{font-family:'HelveticaRoman', sans-serif;font-size:1.7rem;padding-right:8rem;}
.youtube-shark .media{margin-left:5rem;}
.youtube-shark-img.mobile{display:none;}
.youtube-ironman.mobile{display:none;}
.youtube-ironman img{margin-left:3rem;}
.action.action-first{background-size:cover;padding:8rem 0 2.5rem;}
.action-media-set{padding-left:0;}
.action .media-heading{color:#fff;}
.action .media{margin-bottom:3rem;}
.action-triangle{font-size:1.8rem;font-family:'HelveticaMedium', sans-serif;color:#fff;background-color:#18a7d0;line-height:2rem;height:2rem;border-bottom-left-radius:3px;border-top-left-radius:3px;width:90%;display:inline-block;position:relative;min-height:6rem;display:table;margin-bottom:4rem;}
.action-triangle p{display:table-cell;vertical-align:middle;padding-left:1.5rem;}
.action-triangle:after{display:inline-block;position:absolute;right:0;bottom:0;content:'';-webkit-transform:translateX(100%);transform:translateX(100%);width:0;height:0;border-top:3rem solid transparent;border-left:1.8rem solid #18a7d0;border-bottom:3rem solid transparent;}
.action-form form{padding:2rem 5rem;border:5px solid #21a3af;border-radius:3px;background-color:#000;}
.action-form form h2{font-family:'HelveticaMedium', sans-serif;color:#fff;font-size:2.2rem;text-align:center;padding:0;margin-bottom:3.5rem;}
.action-form form input{display:block;width:100%;border:2px solid #fff;border-radius:2px;color:#fff;padding:2rem 2.5rem;font-size:1.8rem;line-height:1.8rem;background-color:#000;margin-bottom:1rem;}
.action-form form input::-webkit-input-placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.8rem;line-height:1.8rem;}
.action-form form input:-ms-input-placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.8rem;line-height:1.8rem;}
.action-form form input::placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.8rem;line-height:1.8rem;}
.action-form form input::-webkit-input-placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.8rem;line-height:1.8rem;}
.action-form form .main-btn{margin-top:1rem;}
.action-form form small{color:#fff;font-size:1.4rem;font-family:'HelveticaRoman', sans-serif;text-align:center;margin-top:1.5rem;margin-bottm:3rem;display:block;}
.action .action-media-box.mobile{display:none;}
.youtube.same{position:relative;padding-top:1rem;}
.youtube.same .youtube-block{margin-top:7rem;}
.youtube.same .youtube-block .youtube-ironman img{margin-left:0rem;max-width:100%;}
.youtube.same .youtube-block .youtube-shark-img img{max-width:100%;}
.how{padding:10rem 0 15rem;background-color:#f8f8f0;position:relative;}
.how .header{text-align:center;display:block;}
.how .header:after{width:6rem;height:0.5rem;display:block;margin:0 auto;content:'';background-color:#18a7d0;margin-top:1rem;margin-bottom:7rem;}
.how-wrapper{min-height:15rem;height:0;display:table;margin:0 auto;}
.how-wrapper-cell{display:table-cell;vertical-align:bottom;}
.how-wrapper img{display:block;}
.how-works{text-align:center;}
.how-works img{display:block;margin:0 auto;}
.how-works p{font-family:'HelveticaRoman', sans-serif;text-align:center;font-size:1.7rem;margin-top:1rem;margin-bottom:1.5rem;}
.how-coub{position:absolute;bottom:0;right:0;-webkit-transform:translateY(50%);transform:translateY(50%);z-index:99;width: 6rem;}
.how:after{display:block;content:'';width:100%;height:10rem;border-bottom:10rem solid #fcfcf6;border-right:2000px solid transparent;position:absolute;bottom:0;right:0;}
.price{background-color:#fcfcf6;padding:5rem 0 7rem;}
.price .header{margin-bottom:7rem;padding-left:1.5rem;}
.price-block{margin-left:-30px;}
.price-block.mobile{display:none;}
.price figure{display:inline-block;}
.price figure img{display:block;max-width:100%;margin:0 auto;}
.price figure figcaption{text-align:center;margin-top:1.5rem;font-family:'HelveticaMedium', sans-serif;font-size:1.8rem;}
.video{background-size:cover;padding:7rem 0 7rem;}
.video .header{margin-bottom:3rem;}
.video a{display:block;text-decoration:none;outline:none;}
.video a img{margin-bottom:1.5rem;}
.video p{font-family:'HelveticaMedium', sans-serif;font-size:2.2rem;color:white;}
.app{padding:10rem 0 7rem;background-color:#fcfcf6;position:relative;}
.app-icons{margin-bottom:2rem;}
.app-icons img{display:block;margin:0 auto;}
.app .header{text-align:center;}
.app .header:after{width:6rem;height:0.5rem;display:block;margin:0 auto;content:'';background-color:#18a7d0;margin-top:1rem;margin-bottom:3.5rem;}
.app-block .main-btn{text-transform:uppercase;margin:0 auto;display:block;margin-top:2rem;}
.app-box h2{font-family:'HelveticaMedium', sans-serif;font-size:2.2rem;margin-top:3.5rem;margin-bottom:2rem;}
.app-box p{font-family:'HelveticaRoman', sans-serif;font-size:1.7rem;padding-right:1.5rem;}
.app-box-wrapper{position:relative;min-height:15rem;}
.app-box-wrapper img{position:absolute;max-width:100%;bottom:0;left:0;-webkit-transform:translateX(-28%);transform:translateX(-28%);}
.app-box-wrapper img.blaster{position:absolute;max-width:100%;bottom:-2rem;left:17rem;}
.feedback{background-color: #f8f8f0;}
.feedback-block{padding-right:0.5rem;margin-top:2.5rem;}
.feedback-block-cube{position:relative;}
.feedback-block-cube .feedback-figure{position:absolute;top:0;right:4rem;-webkit-transform:translate(50%, -50%);transform:translate(50%, -50%);width:12rem;}
.feedback-block-item{padding:0;}
.feedback-block .feedback-wrapper{padding:2.5rem;background-color:#fff;margin:1rem;border:2px solid #3eb7b7;border-radius:3px;}
.feedback-block .feedback-wrapper p{font-family:'HelveticaRoman', sans-serif;font-size:1.7rem;margin-top:2.5rem;margin-bottom:2.5rem;}
.feedback-block .feedback-wrapper .media-heading{font-size:1.8rem;font-family:'HelveticaMedium', sans-serif;padding-left:1.5rem;}
.how-we.how:after{display:none;content:'';width:100%;height:10rem;border-bottom:10rem solid #fcfcf6;border-right:2000px solid transparent;position:absolute;bottom:0;right:0;}
.how.how-we{padding:10rem 0 12rem;}
.how.how-we .how-wrapper .image-1{display:block;padding-top:1.5rem;}
.how.how-we .how-wrapper .image-2{display:block;padding-top:1rem;}
.how.how-we strong{display:block;font-size:2rem;}
.how.how-we .how-works p{min-height:10rem;}
.action.action-second{background-size:cover;}
.action.action-second {padding: 6rem 0 4rem;}
.question{padding:5rem 0 5rem;}
.question-text{display:inline-block;color:#000;font-family:'HelveticaMedium', sans-serif;border-bottom:2px dashed black;font-size:1.8rem;}
.thanks{background:#ffffff url(../img/thanks-bg.jpg) center center no-repeat;background-size:cover;min-height:100vh;height:0;width:100%;position:relative;display:table;}
.thanks #modal5{display:table-cell;vertical-align:middle;text-align:center;}
.thanks nav{padding:1.5rem 0;}
.thanks nav .logo-main{padding:0;}
.thanks nav .phone{display:table;}
.thanks nav .phone h2{display:table-cell;vertical-align:middle;}
.thanks nav .phone.mobile{display:none;}
#modal5 .modal-content{background-color:transparent;width:100%;}
#modal5 .modal-content h2{font-size:3.9rem;font-family:'HelveticaBold', sans-serif;margin-bottom:3rem;color:#fff;}
#modal5 .modal-content p{font-family:'HelveticaMedium', sans-serif;font-size:2.2rem;margin-bottom:3.5rem;color:#fff;padding:0 3rem;}
#modal5 .modal-content .main-btn{text-transform:uppercase;}
.popup{display:none;position:fixed;left:0;top:0;bottom:0;right:0;width:100%;height:100%;z-index:999;background-color:rgba(0, 0, 0, 0.8);overflow-y:auto;}
.popup-content{position:relative;left:50%;top:12rem;background-color:#fff;-webkit-transform:translateX(-50%);transform:translateX(-50%);text-align:center;z-index:1200;border-radius:5px;width:40rem;}
.popup-content .popup-close{display:block;position:absolute;top:0;right:0;width:3rem;height:3rem;text-align:center;font-size:2.2rem;line-height:0;background-color:black;color:#21a3af;border:4px solid #21a3af;padding:0.1rem;z-index:9999;-webkit-transform:translate(40%, -40%);transform:translate(40%, -40%);border-radius:50%;}
.popup-content.action-form form button.main-btn{width:100%;}
.popup-content.action-form form select:not([multiple]){width:100%;border:2px solid #fff;border-radius:2px;outline:none;padding:2rem 2.5rem;margin-bottom:1rem;display:block;-webkit-appearance:none;-moz-appearance:none;background:transparent;color:#fff;font-size:1.8rem;line-height:1.8rem;font-family:'HelveticaRoman', sans-serif;background-position:90% 50%;background-repeat:no-repeat;background-image:url(../img/dropdown-arrow.png);}
@media (max-width:379px){.price figure.price-phone figcaption{margin-top:0;}
.feedback-block-cube .feedback-figure{width: 7rem !important;}
.price-mobile-wrapper{min-height:15rem !important;}
.price .price-block figure img{min-height:15rem !important;height:0;}
}
@media (min-width:319px) and (max-width:479px){nav .phone{text-align:center;padding:0;padding-bottom:1rem;}
nav .phone h2{display:inline-block;padding-right:0.5rem;font-size:1.7rem;}
nav .phone p{display:inline-block;padding-left:0.5rem;font-size:1.4rem;}
nav .logo-main{text-align:center;padding-bottom:1rem;padding-top:0;}
nav .logo-main img{width:6rem;}
nav .logo-main h4{text-align:left;font-size:1.2rem !important;line-height:1.5rem !important;padding-left:1rem !important;}
main .main-header{text-shadow:1px 3px 2px rgba(0, 0, 0, 0.4);}
main .main-header h2{font-size:1.5rem;margin-bottom:1rem;line-height:2rem;}
main .main-header h4{font-size:1.7rem;margin-bottom:2rem;}
main .main-btn{padding:1.3rem 2.5rem;font-size:1.1rem;text-shadow:0px 3px 1px rgba(39, 43, 37, 0.2);}
main .main-dino{width:16rem;}
main .main-vr{width:15rem;}
main{padding-top:11.5rem;background:#ffffff url(../img/main-bg.jpg) 35% 19% no-repeat;}
.info{padding:4rem 0 2rem 0;}
.info-header{margin-bottom:1.8rem;}
.info .header{font-size:2.2rem;}
.info-text{padding-right:0rem;font-size:1.2rem;line-height:1.8rem;margin-bottom:0.5rem;}
.info .main-btn{font-size:1.1rem;padding:1.5rem 1rem;}
.info-box ul{min-height:1rem;margin-bottom:0.7rem;}
.info-box ul li{font-size:1.2rem;}
.info-box h4{font-size:1.7rem;}
.info-box-price{font-size:1.2rem;}
.info-box-price span{font-size:1.5rem;}
.info-vr.desktop{display:none;}
.info-vr.mobile{display:block;}
.info-vr.mobile img.info-vr-set{max-width:100%;margin-top:0rem;}
.info-vr-header{text-align:right;margin-right:2rem;font-size:1.2rem;}
.info-vr-text{text-align:right;margin-bottom:2.5rem;margin-right:2rem;font-size:1rem;}
.info-vr-arrow{width:3rem;}
.youtube{background-color:#fff;padding:4rem 0 2rem;}
.youtube-ironman img{display:block;margin:0 auto;}
.youtube-block{margin-bottom:4rem;}
.youtube-block .media-heading{font-size:1.6rem;margin-bottom:1rem;}
.youtube-block .media-body{font-size:1.3rem;}
.youtube-block-figure{display:none;}
.youtube-block .media{margin-top:0;}
.youtube-block .media .media-body{padding-right:0;}
.youtube-shark .media{margin-left:0rem;}
.youtube-shark-img.mobile{display:block;margin-bottom:4rem;}
.youtube-shark-img.mobile img{display:block;margin:0 auto;max-width:100%;}
.youtube-shark-img.desktop{display:none;}
.youtube-ironman.desktop{display:none;}
.youtube-ironman.mobile{display:block;margin-bottom:4rem;}
.youtube-ironman.mobile img{max-width:100%;}
.action{padding:3rem 0 1.5rem;}
.action .media-heading{font-size:1.2rem;line-height:1.6rem;}
.action .header{font-size:2.2rem;}
.action-triangle{font-size:1.2rem;line-height:1.4rem;margin-bottom:2rem;width:95%;}
.action-form form{padding:0rem 4rem 2rem 4rem;margin-bottom:2rem;}
.action-form form h2{font-size:1.4rem;margin-bottom:1.5rem;}
.action-form form input{padding:1rem 2rem;font-size:1.2rem;}
.action-form form input::-webkit-input-placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.2rem;}
.action-form form input:-ms-input-placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.2rem;}
.action-form form input::placeholder{opacity:1;color:white;font-family:'HelveticaRoman', sans-serif;font-size:1.2rem;}
.action-form form input::-webkit-input-placeholder{font-size:1.2rem;color:white;}
.action-form form .main-btn{font-size:1.2rem;width:100%;margin-top:0;text-transform:uppercase;padding:1.5rem;}
.action-form form small{font-size:1.2rem;margin-top:1rem;}
.action .action-media-box.mobile{display:block;}
.action .action-media-box.desktop{display:none;}
.youtube.same{display:none;}
.how{padding:3rem 0 3rem;}
.how .header{font-size:2.2rem;}
.how .header:after{margin-bottom:3rem;height:0.4rem;}
.how-wrapper-cell{max-width:100%;}
.how-wrapper-cell img{max-width:100%;}
.how-works p{min-height:7rem;margin-bottom:0;margin-top:-2rem;font-size:1.2rem;}
.how-works img{max-width:100%;}
.how-coub{display:none;}
.circle{display:block;background-color:#18a7d0;width:100%;height:100%;border-radius:50%;color:white;}
.circle-border{display:inline-block;width:3rem;height:3rem;padding:0.3rem;border:2px solid #18a7d0;border-radius:50%;line-height:2rem;text-align:center;font-family:'HelveticaBold', sans-serif;color:white;font-size:1.5rem;-webkit-transform:translateY(-100%);transform:translateY(-100%);background-color:#fff;}
.price{padding:4rem 0 4rem;}
.price figure.price-phone figcaption{margin-top:0;}
.price-mobile-wrapper{min-height:20rem;}
.price figure figcaption{font-size:1.2rem;padding:0 1.5rem;}
.price .header{font-size:2.2rem;margin-bottom:3rem;}
.price-block{margin-left:0;}
.price-block.desktop{display:none;}
.price-block.mobile{display:block;margin-top:3rem;}
.price figure.price-vr img{max-width:70%;}
.info-slash,
.youtube-slash,
.app-slash{display:none;}
.video{padding:3rem 0 3rem;}
.video .header{font-size:2rem;}
.video p{font-size:1.2rem;}
.video a img{max-width:6rem;}
.app{padding:4rem 0 4rem;}
.app .main-btn{font-size:1.2rem;padding:1.5rem 2.5rem;margin-top:3.5rem;}
.app-box h2{font-size:1.7rem;margin-bottom:1.5rem;}
.app-box p{font-size:1.3rem;margin-top:0;margin-bottom:2.5rem;}
.app .header{font-size:2.2rem;}
.app .header:after{width:6rem;height:0.5rem;display:block;margin:0 auto;content:'';background-color:#18a7d0;margin-top:1.5rem;margin-bottom:1rem;}
.app-box-wrapper img{-webkit-transform:translateX(0%);transform:translateX(0%);}
.app-box-wrapper img.blaster{bottom:-2rem;left:10rem;}
.feedback-block-cube .feedback-figure{width:9rem;}
.feedback-block .feedback-wrapper{padding:2rem 2.5rem 1rem 2.5rem;}
.feedback-block-item .media-heading{font-size:1.4rem !important;}
.feedback-block-item .media img{width:7rem;}
.feedback-block-item p{font-size:1.2rem !important;margin-bottom:1.5rem !important;}
.how.how-we{padding:3rem 0 4rem;}
.how.how-we .how-wrapper{min-height:10rem;}
.how.how-we .how-wrapper img{width:80%;}
.how.how-we strong{display:block;font-size:1.5rem;}
.how.how-we .how-works p{min-height:0rem;padding:0 6rem;margin-top:2rem;margin-bottom:3rem;}
.question{padding:2.5rem 0 2.5rem;background-color:#f8f8f0;}
.question .header{font-size:2.2rem;}
.question-text{display:inline-block;font-family:'HelveticaMedium', sans-serif;border-bottom:1px dashed black;font-size:1.4rem;}
nav.nav-bottom .desktop{display:none;}
nav.nav-bottom .mobile{display:block;}
nav.nav-bottom .mobile h2{display:block;font-size:2.5rem;}
nav.nav-bottom .mobile p{display:block;font-size:2rem;margin:3rem 0 4rem;}
.popup{display:none;position:fixed;left:0;top:0;bottom:0;right:0;width:100%;height:100%;z-index:999;background-color:rgba(0, 0, 0, 0.8);overflow-y:auto;}
.popup-content{position:relative;left:50%;top:5rem;background-color:#fff;-webkit-transform:translateX(-50%);transform:translateX(-50%);text-align:center;z-index:1200;border-radius:5px;width:80%;}
.popup-content .popup-close{display:block;position:absolute;top:0;right:0;width:3rem;height:3rem;text-align:center;font-size:2.2rem;line-height:0;background-color:black;color:#21a3af;border:4px solid #21a3af;padding:0.1rem;z-index:9999;-webkit-transform:translate(40%, -40%);transform:translate(40%, -40%);border-radius:50%;}
.popup-content.action-form form{padding:1rem 4rem 2rem 4rem;}
.popup-content.action-form form button.main-btn{width:100%;}
.popup-content.action-form form select:not([multiple]){width:100%;border:2px solid #fff;border-radius:2px;outline:none;padding:1rem 2rem;display:block;-webkit-appearance:none;-moz-appearance:none;background:transparent;color:#fff;font-size:1.2rem;line-height:1.8rem;font-family:'HelveticaRoman', sans-serif;background-position:90% 50%;background-repeat:no-repeat;background-image:url(../img/dropdown-arrow.png);}
#modal5 .modal-content{background-color:transparent;}
#modal5 .modal-content h2{font-size:1.6rem;margin-bottom:1.2rem;font-family:'HelveticaBold', sans-serif;color:#fff;margin-top:10rem;}
#modal5 .modal-content p{font-family:'HelveticaMedium', sans-serif;font-size:1.2rem;color:#fff;padding:0 3rem;margin-bottom:1.2rem;}
#modal5 .modal-content .main-btn{text-transform:uppercase;font-size:1.2rem;padding:1rem 1.5rem;}
.thanks nav .phone.mobile{display:table;padding-bottom:0;}
.thanks nav .phone.mobile h2{font-size:1.8rem;}
.thanks nav .phone.desktop{display:none;}
.price .price-block figure img{min-height:19rem;height:0;}
}
@media (min-width:480px) and (max-width:767px){nav .phone{text-align:center;padding:1rem 0;}
nav .phone h2{display:inline-block;padding-right:0.5rem;font-size:2.2rem;}
nav .phone p{display:inline-block;padding-left:0.5rem;font-size:2rem;}
nav .logo-main{text-align:center;padding-bottom:0;padding-top:1rem;}
nav .logo-main h4{text-align:left;font-size:1.8rem !important;}
main .main-header h2{font-size:2.7rem;}
main .main-header h4{font-size:2.2rem;}
main .main-btn{padding:1.5rem 3.8rem;}
main .main-dino{width:26rem;}
main .main-vr{width:30rem;}
main{padding-top:16rem;}
.info{padding:2rem 0 2rem 0;}
.info-text{padding-right:2rem;}
.info .main-btn{font-size:1.3rem;}
.info-box ul{min-height:13rem;}
.info-box-price{font-size:1.8rem;}
.info-box-price span{font-size:2rem;}
.info-vr.desktop{display:none;}
.info-vr.mobile{display:block;}
.info-vr-header{text-align:right;margin-right:2rem;}
.info-vr-text{text-align:right;margin-bottom:2.5rem;margin-right:2rem;}
.youtube{padding:4rem 0 2rem;}
.youtube-ironman img{display:block;margin:0 auto;}
.youtube-block{margin-bottom:4rem;}
.youtube-block-figure{display:none;}
.youtube-block .media{margin-top:0;}
.youtube-shark .media{margin-left:0rem;}
.youtube-shark-img.mobile{display:block;margin-bottom:4rem;}
.youtube-shark-img.mobile img{display:block;margin:0 auto;max-width:100%;}
.youtube-shark-img.desktop{display:none;}
.youtube-ironman.desktop{display:none;}
.youtube-ironman.mobile{display:block;margin-bottom:4rem;}
.youtube-ironman.mobile img{max-width:100%;}
.youtube .media-body{padding-right:0rem;}
.action-form form{margin-bottom:2rem;}
.action .action-media-box.mobile{display:block;}
.action .action-media-box.desktop{display:none;}
.youtube.same{display:none;}
.how-wrapper-cell{max-width:100%;}
.how-wrapper-cell img{max-width:100%;}
.how-works p{min-height:9rem;margin-bottom:0;}
.how-coub{display:none;}
.price figure.price-phone figcaption{margin-top:0;}
.price-mobile-wrapper{min-height:27rem;}
.price-block{margin-left:0;}
.price-block.desktop{display:none;}
.price-block.mobile{display:block;margin-top:3rem;}
.info-slash,
.youtube-slash,
.app-slash{display:none;}
.app-box-wrapper img{-webkit-transform:translateX(0%);transform:translateX(0%);}
.app-box-wrapper img.blaster{bottom:-2rem;left:21rem;}
.how.how-we .how-wrapper{min-height:0rem;}
.how.how-we strong{display:block;font-size:2rem;}
.how.how-we .how-works p{min-height:0rem;padding:0 5rem;margin-top:3rem;margin-bottom:4rem;}
#modal5 .modal-content{background-color:transparent;}
#modal5 .modal-content h2{font-size:1.8rem;margin-bottom:1.2rem;font-family:'HelveticaBold', sans-serif;color:#fff;margin-top:10rem;}
#modal5 .modal-content p{font-family:'HelveticaMedium', sans-serif;font-size:1.3rem;color:#fff;padding:0 3rem;margin-bottom:1.4rem;}
#modal5 .modal-content .main-btn{text-transform:uppercase;font-size:1.4rem;padding:1.5rem 2rem;}
.thanks nav{padding:0;}
.thanks nav .logo-main .logo-heading h4{font-size:1.8rem !important;margin-bottom:0;}
.thanks nav .phone h2{font-size:1.8rem;}
}
@media (min-width:768px) and (max-width:991px){nav .phone{text-align:center;padding:1rem 0;}
nav .phone h2{display:inline-block;padding-right:0.5rem;}
nav .phone p{display:inline-block;padding-left:0.5rem;}
nav .logo-main{text-align:center;padding-bottom:0;padding-top:1rem;}
nav .logo-main h4{text-align:left;}
.how-coub{display:none;}
.main-header h2{font-size:3.5rem;}
.main-header h4{font-size:2.5rem;}
.main-btn{padding:1.6rem 4rem;}
.main-dino{width:35rem;}
.main-vr{width:28rem;}
.info-text{padding-right:14rem;}
.info .main-btn{font-size:1.6rem;}
.info-box ul{min-height:13rem;}
.info-box-price{font-size:1.8rem;}
.info-box-price span{font-size:2rem;}
.info-vr.desktop{display:none;}
.info-vr.mobile{display:block;}
.info-vr-header{text-align:center;}
.info-vr-text{text-align:center;margin-bottom:2.5rem;}
.youtube{padding:4rem 0 2rem;}
.youtube-ironman img{display:block;margin:0 auto;}
.youtube-block{margin-bottom:4rem;}
.youtube-block-figure{display:none;}
.youtube-block .media{margin-top:0;}
.youtube-shark .media{margin-left:0rem;}
.youtube-shark-img.mobile{display:block;margin-bottom:4rem;}
.youtube-shark-img.mobile img{display:block;margin:0 auto;}
.youtube-shark-img.desktop{display:none;}
.youtube-ironman.desktop{display:none;}
.youtube-ironman.mobile{display:block;margin-bottom:4rem;}
.action-form{margin-top:4rem;}
.youtube.same{display:none;}
.price-block.desktop{display:none;}
.price-block.mobile{display:block;margin-top:3rem;}
.info-slash,
.youtube-slash,
.app-slash{display:none;}
.app-box-wrapper img{-webkit-transform:translateX(0%);transform:translateX(0%);}
.app-box-wrapper img.blaster{bottom:-2rem;left:21rem;}
.how.how-we .how-wrapper{min-height:0rem;}
.how.how-we .how-works p{min-height:10rem;padding:0 3rem;margin-top:3rem;}
.price figure img{min-height:26.2rem;height:0;}
}
@media (min-width:992px) and (max-width:1199px){.info .main-btn{font-size:1.6rem;}
.info-box ul{min-height:17rem;}
.info-box-price{font-size:1.8rem;}
.info-box-price span{font-size:1.8rem;}
.youtube-block-figure{display:none;}
.how.how-we .how-wrapper{min-height:14rem;height:0;}
.how.how-we .how-wrapper .image-1{display:block;padding-top:1.5rem;}
.how.how-we .how-wrapper .image-2{display:block;padding-top:1rem;}
.how.how-we .how-works p{min-height:10rem;padding:0;margin-top:3rem;}
.youtube.same{display:none;}
.price figure img{min-height:22rem;height:0;}
}