$tcolor: #515151;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Open Sans", sans-serif;
	color: $tcolor;
}
h1{
	font-size: 28px;
	font-weight: 600;
}
h3{
	font-size: 23px;
	font-weight: 600;
}
h4{
	font-size: 20px;
	font-weight: 600;
}
h2{
	font-size: 25px;
	font-weight: 600;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
#header{
	padding-top: 20px;
	padding-bottom: 20px;
}
#header .container{
	display: flex;
	justify-content: space-between;

}
.header-logo{
	display: flex;
	&__desc{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-left: 15px;
		color: #212121;
		h3{
			margin-bottom: 5px;
		}
		div{
			margin-bottom: 5px;
		}
	}
}
.header-logo__photo{
	width: 70px;
	height: 70px;
	background-image: url(../img/avatar.jpg);
	background-size: 110%;
	background-position: center top;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0, .4);
}
.social-buttons{
	display: flex;
	justify-content: space-between;
	height: inherit;
	align-items: center;
	margin-right: 80px;
}
.social-btn a{
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 15px;
	box-shadow: 0 0 5px rgba(0,0,0, .4);
}
.social-btn{
	&:nth-child(1){
		a{
			background-image: url(../img/vk-logo.png);
			background-size: 100%;
			border-radius: 50%;
			background-position: center;
		}
	}
	&:nth-child(2){
		a{
			background-image: url(../img/gmail-logo.png);
			background-size: 100%;
			border-radius: 50%;
			background-position: center;
			background-size: 105%;
		}
	}
	&:nth-child(3){
		a{
			background-image: url(../img/tele.gif);
			background-size: 115%;
			border-radius: 50%;
			background-position: center;
		}
	}
}
#about{
	color: $tcolor;
	padding-top: 85px;
	.about-title{
		margin-bottom: 15px;
	}
	.about-desc{
		margin-bottom: 45px;
	}
	h4{
		margin-bottom: 2px;
		&::before{
			content: '•';
			vertical-align: center;
			margin-right: 5px;
		}
	}
}
#cnt-1{
	display: flex;
	justify-content: space-between;
}
.about-right{
	border: 1px dashed $tcolor;
	border-radius: 2px;
	background-size: 50%;
	background-position: top;
	background-repeat: no-repeat;
	width: 40%;
	padding: 20px;
}
.about-right h3{
	font-size: 19px;
	margin-bottom: 10px;
}
.about-right form input{
	display: block;
}
.about-right form textarea{
	display: block;
	width: 100%;
	padding: 5px;
}
.about-right form label{
	display: block;
	font-size: 16px;
	margin-top: 10px;
}
.about-right form button{
	display: block;
	font-size: 16px;
	color: $tcolor;
	padding: 5px;
	margin: 0 auto;
	margin-top: 20px;
}
#email-input{
	width: 100%;
	padding: 5px;
}
.action-btn a{
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	color: $tcolor;
	border: 1px solid lighten($tcolor, 40%);
	border-radius: 3px;
	padding: 17px;
	cursor: pointer;
	text-decoration: none;
	color: $tcolor;
}
.works-categories{
	margin-top: 50px;
}
#works{
	margin-top: 60px;
	padding-top: 10px;
}
.works-title{
	color: $tcolor;
	text-align: center;
	margin-bottom: 10px;
}
.works-subtitle{
	color: $tcolor;
	text-align: center;
	font-size: 16px;
}
.works-categories{
	display: flex;
	justify-content: center;
}
.category{
	margin: 0 10px;
	color: $tcolor;
	transition-duration: .3s;
	cursor: pointer;
	font-weight: 600;
	border-bottom: 1px solid rgba($tcolor, .0);
}
.active{
	border-bottom: 1px solid rgba($tcolor, 1);
}
.portfolio{
	position: relative;
	width: 100%;
	margin-top: 45px;
}
.portfolio-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.portfolio-item{
	width: 32%;
	margin-bottom: 2%;
	height: 220px;
}
.landings .portfolio-item{
	border: 1px solid lighten($tcolor,20%);
	transition-duration: .3s;
	&:nth-child(1){
		background-image: url(../img/modal-dbk/first-img.png);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
	&:nth-child(2){
		background-image: url(../img/modal-btg/first-img.png);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
	&:nth-child(3){
		background-image: url(../img/modal-vr/first-img.jpg);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
	&:nth-child(4){
		background-image: url(../img/modal-ovk/first-img.jpg);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
}
.corps .portfolio-item{
	height: 200px;
	border: 1px solid lighten($tcolor,20%);
	&:nth-child(1){
		background-image: url(../img/modal-ovk/first-img.jpg);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
	&:nth-child(2){
		background-image: url(../img/modal-dbk/first-img.png);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
	&:nth-child(3){
		background-image: url(../img/modal-btg/first-img.png);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
}
.shops .portfolio-item{
	height: 200px;
	border: 1px solid lighten($tcolor,20%);
	&:nth-child(1){
		background-image: url(../img/modal-btg/first-img.png);
		background-size: 80%;
		background-position: center;
		background-size: cover;
	}
}
.p-item-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
	transition-duration: .5s;
	opacity: 0;
	transform: scale(1);
}
.p-item-ovelay_hover{
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.9);
	transform: scale(0.85);
}
.p-item-overlay .wrap{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.p-item-overlay .title{
	color: $tcolor;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 15px;
}
.button{
	display: inline-block;
	font-size: 15px;
	font-weight: 600;
	color: $tcolor;
	border: 1px solid darken($tcolor, 20%);
	border-radius: 3px;
	padding: 17px;
	cursor: pointer;
	text-decoration: none;
	color: $tcolor;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0, .8);
	overflow-y: scroll;
}
.modal-box{
	width: 1140px;
	background-color: #fff;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px rgba(0,0,0, .5);
	z-index: 100;
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
	padding-right: 20px;
	padding-bottom: 60px;
}
.close-btn{
	align-self: flex-end;
	width: 30px;
	height: 30px;
	position: relative;
	position: relative;
	opacity: .7;
	transition: .3s;
	cursor: pointer;
}
.close-btn:hover{
	opacity: 1;
}
.cross-line{
	width: 100%;
	height: 3px;
	background-color: $tcolor;
	position: absolute;
	top: 15px;
}
.line-plus{
	transform: rotate(45deg);
}
.line-minus{
	transform: rotate(-45deg);
}
.modal-content{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	padding-right: 50px;
}
.content-left{
	width: 45%;
}
.content-right{
	width: 51%;
}
.big-picture{
	width: 100%;
	height: 260px;
	border: 1px solid $tcolor;
	margin-bottom: 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.mini-pictures{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.mini-pictures__picture{
	width: 22%;
	height: 60px;
	border: 1px solid $tcolor;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.h2-title, .h4-title{
	color: $tcolor;
}
.content-right h4{
	margin-top: 18px;
	margin-bottom: 5px;
}
.content-right div{
	font-size: 15px;
}
.btns-gorizontal{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.btns-gorizontal .content-right__button a{
	display: block;
	font-size: 15px;
	font-weight: 600;
	color: $tcolor;
	border: 1px solid lighten($tcolor, 40%);
	border-radius: 3px;
	padding: 17px;
	cursor: pointer;
	text-decoration: none;
	color: $tcolor;
}
.btns-gorizontal .content-right__button{
	width: 48%;
	text-align: center;
}
#modal-dbk .big-picture{
	background-image: url(../img/modal-dbk/first-img.png);
}
#modal-dbk .mini-pictures__picture:nth-child(1){
	background-image: url(../img/modal-dbk/first-img.png);
}
#modal-dbk .mini-pictures__picture:nth-child(2){
	background-image: url(../img/modal-dbk/second-img.jpg);
}
#modal-dbk .mini-pictures__picture:nth-child(3){
	background-image: url(../img/modal-dbk/third-img.jpg);
}
#modal-dbk .mini-pictures__picture:nth-child(4){
	background-image: url(../img/modal-dbk/fourth-img.jpg);
}
#modal-btg .big-picture{
	background-image: url(../img/modal-btg/first-img.png);
}
#modal-btg .mini-pictures__picture:nth-child(1){
	background-image: url(../img/modal-btg/first-img.png);
}
#modal-btg .mini-pictures__picture:nth-child(2){
	background-image: url(../img/modal-btg/second-img.jpg);
}
#modal-btg .mini-pictures__picture:nth-child(3){
	background-image: url(../img/modal-btg/third-img.jpg);
}
#modal-btg .mini-pictures__picture:nth-child(4){
	background-image: url(../img/modal-btg/fourth-img.jpg);
}
#modal-vr .big-picture{
	background-image: url(../img/modal-vr/first-img.jpg);
}
#modal-vr .mini-pictures__picture:nth-child(1){
	background-image: url(../img/modal-vr/first-img.jpg);
}
#modal-vr .mini-pictures__picture:nth-child(2){
	background-image: url(../img/modal-vr/second-img.jpg);
}
#modal-vr .mini-pictures__picture:nth-child(3){
	background-image: url(../img/modal-vr/third-img.jpg);
}
#modal-vr .mini-pictures__picture:nth-child(4){
	background-image: url(../img/modal-vr/fourth-img.jpg);
}
#modal-ovk .big-picture{
	background-image: url(../img/modal-ovk/first-img.jpg);
}
#modal-ovk .mini-pictures__picture:nth-child(1){
	background-image: url(../img/modal-ovk/first-img.jpg);
}
#modal-ovk .mini-pictures__picture:nth-child(2){
	background-image: url(../img/modal-ovk/second-img.jpg);
}
#modal-ovk .mini-pictures__picture:nth-child(3){
	background-image: url(../img/modal-ovk/third-img.jpg);
}
#modal-ovk .mini-pictures__picture:nth-child(4){
	background-image: url(../img/modal-ovk/fourth-img.jpg);
}
.close-area{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.email-box{
	width: 210px;
	height: 40px;
	background-color: white;
	line-height: 40px;
	vertical-align: middle;
	position: absolute;
	margin-top: 10px;
	border-radius: 4px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0,0,0, .3);
	margin-left: -35px;
}
.tele-box{
	width: 210px;
	height: 40px;
	background-color: white;
	line-height: 40px;
	vertical-align: middle;
	position: absolute;
	margin-top: 10px;
	border-radius: 4px;
	text-align: center;
	box-shadow: 0 0 5px rgba(0,0,0, .3);
	margin-left: -35px;
}
.about-right{
	h3{
		text-align: center;
	}
}











@media only screen and (max-width: 1200px){
	.container{
		width: 950px;
	}
	.modal-box{
		width: 950px;
	}
	.portfolio-item{
		height: 210px;
	}
	.big-picture{
		height: 240px;
	}
}
@media only screen and (max-width: 992px){
	.container{
		width: 720px;
	}
	.modal-box{
		width: 720px;
	}
	.btns-gorizontal{
		flex-direction: column;
	}
	.btns-gorizontal .content-right__button{
		width: 100%;
		margin-bottom: 20px;
	}
	.portfolio-item{
		width: 49%;
	}
	.portfolio-item:nth-child(5),.portfolio-item:nth-child(6){
		display: none;
	}
	.big-picture{
		height: 210px;
	}
}
@media only screen and (max-width: 768px){
	.container{
		width: 530px;
	}
	.modal-box{
		width: 530px;
	}
	.portfolio-box{
		justify-content: center;
	}
	.portfolio-item{
		width: 80%;
		margin-bottom: 40px;
		height: 240px;
	}
	.about-right{
		display: none;
	}
	.modal-box{
		margin-top: 150px;
	}
	.modal-content{
		flex-direction: column;
	}
	.content-right, .content-left{
		width: 100%;
	}
	.content-left{
		margin-bottom: 30px;
	}
	#about{
		text-align: center;
	}
	.big-picture{
		height: 240px;
	}
}
@media only screen and (max-width: 576px){
	.container{
		width: 95%;
	}
	.modal-box{
		width: 95%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.modal-content{
		padding-right: 0;
	}
	#header .container{
		flex-direction: column;
	}
	.header-logo{
		text-align: center;
		justify-content: center;
		margin-bottom: 20px;
	}
	.social-buttons{
		margin-right: 0;
		justify-content: center;
	}
	.social-btn{
		margin: 0px 5px;
	}
	.social-btn a{
		width: 40px;
		height: 40px;
	}
	.header-logo__photo{
		display:none;
	}
	.portfolio-item{
		width: 100%;
		margin-bottom: 40px;
	}
	.about-left{
		text-align: center;
	}
	h1{
		font-size: 24px;
	}
	h4{
		font-size: 19px;
	}
	h2{
		font-size: 22px;
	}
	.category{
		text-align: center;
	}
	.works-categories{
		display: none;
	}
	.sub2{
		display: none;
	}
	#about{
		padding-top: 50px;
	}
	.about-left{
		width: 100%;
	}
	.email-box{
		margin-left: -10px;
	}
}