body {
	font-family: 'Roboto:400', sans-serif;
	background: #f8f8f8;
}

h2 {
	margin-top: 5rem;
	margin-bottom: 2rem;
	font-family: 'Roboto:700', sans-serif;
	font-size: 2.3rem;
	font-weight: 700;
	text-align: left;
}

.header {
	position: static;
 padding: 2rem;
	background: #232b37;
}

.navbar {
	margin-bottom: 0;
}

.page-main {
	padding: 2rem;
}

.service-header{
	margin-bottom: 2rem;
}

.service-block {
	margin-bottom: 2rem;
	padding: 1rem;
	background: #fff;
}

.service-block-1 {
	box-shadow: 1px 0px 31px 12px #bdd3e0 inset;
}

.service-block-img, .sercive-block-text {
	display: inline-block;
	text-align: center;
}

.service-block-img {
	min-width: 6.5rem;
}

.sercive-block-text {
	margin-left: 2rem;
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: left;
}

.sercive-block-text a{
	color: #242830;
}

.main-page p {
	padding: 2rem 0;
	font-size: 1.6rem;
}

.gallery {
	margin-top: 5rem;
}


.gallery-img-block {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 1rem;
	width: 35rem;
}

.gallery-img-block img{
	width: 100%;
}

.feedbacks h3 {
	margin-top: 2rem 0;
	font-family: 'Roboto:700', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5rem;
	font-weight: 700;
	text-align: left;
}

.feedbacks-block {
	margin-bottom: 2rem;
	padding: 1rem 2rem;
	background: #fff;
}

.input-row {
	margin-bottom: 1.5rem;
}

.input-row input {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6;
	border-style: solid;
	border-width: 1px;
	border-color:  rgba(79, 79, 79, 0.2);
	box-sizing: border-box;
	background-color:  #ffffff;
}

.textarea-row {
	margin-bottom: 1rem;
}

.textarea-row textarea{
	padding: 1rem 2rem;
	width: 100%;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6;
	border-style: solid;
	border-width: 1px;
	border-color:  rgba(79, 79, 79, 0.2);
	box-sizing: border-box;
	background-color:  #ffffff;
}

.slider-btn:hover  {
	border: none;
}

table {
	min-width: 100%;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.6rem;
	border-collapse: separate; /* Способ отображения границы */ 
	border-spacing: 1px; /* Расстояние между ячейками */ 
}

table th {
	padding: 1rem;
	background-color: #136493;
	color: #fff;
	border-collapse: collapse;
}

table td {
	padding: 1rem;
	background-color: #fff;
}

.list {
	margin-bottom: 5rem;
}

.list-block ul {
	font-family: 'Roboto:700', sans-serif;
	
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.933;
	
	text-align: left;
	list-style-type: none;
}

.cirle {
	padding-top: 1rem;
	list-style-image: url(../img/circle.png);
}

.cirle:hover {
	color:  #136493;
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 991px) {
	.gallery-img-block {
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 1rem;
		width: 30rem;
	}

	.gallery-img-block img{
		width: 100%;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 2rem;
		text-align: center;
	}
	.service-block {
		text-align: center;
	}
	.service-block-img {
		width: 100%;
	}
	.sercive-block-text {
		margin-top: 1rem;
		margin-left: 1rem;
		font-size: 1.4rem;
		line-height: 1.5;
		text-align: left;
	}
	.input-row input {
		margin-bottom: 1rem;
		padding: 1rem;
		width: 100%;
	}
	.textarea-row textarea{
		padding: 1rem;
		width: 100%;
	}
	.page-btn {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.table {
		display: none;
	}
	.gallery-img-block {
		margin-bottom: 1rem;
		width: 100%;
	}
}
.modal-header {
	text-align: center;
}